body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #dfdfdf;
  margin: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px;
  text-align: center;
}

th {
  background-color: #007bff;
  color: white;
  font-size: 16px;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

tr:nth-child(odd) {
  background-color: #dfdfdf;
}
